<div class="top">
</div>
<div class="main">
    <div class="left">
    </div>
    <div class="right">
        <div class="container card">
            <h1>Contact with us...</h1>
            <hr>
            <p>Phone: (555) 555-5555 <br>

                Address: 123 Street, Anytown, USA 12345 <br>
                
                Business Hours: 9am-5pm, Monday-Friday <br>
                
                Facebook: @example <br>
                
                Twitter: @example <br>
                
                Instagram: @example</p>
        </div>
    </div>

</div>
<hr>