a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
}

a:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 5px 15px rgba(255, 255, 255, 1);
}


a.logo {
    padding: 1em;
    font-weight: bold;
}

ul li {
    list-style: none;
    margin: 0;
    float: left;
    padding-right: 50px;
}

nav {
    text-align: center;
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    background: rgb(249, 252, 252);
    background: linear-gradient(90deg, rgba(249, 252, 252, 1) 0%,
            rgba(122, 122, 235, 1) 50%, rgba(95, 102, 231, 1) 80%,
            rgba(54, 66, 230, 1) 100%);
}

img {
    padding-left: 25px;
}

.color img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}

.color img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}