<nav class="navbar navbar-light">
    <div class="color">
        <img routerLink="/login" src="https://angular.io/assets/images/logos/angular/shield-large.svg" width="80"
            height="70" class="d-inline-block align-center" alt="">
    </div>
    <div>
        <ul>
            <li><a [routerLinkActive]="'active'" routerLink="./apicall">API</a></li>
            <li><a [routerLinkActive]="'active'" routerLink="./about">About</a></li>
            <li><a [routerLinkActive]="'active'" routerLink="./contact">Contact</a></li>
            <li><a [routerLinkActive]="'active'" routerLink="/login">Logout</a></li>
        </ul>
    </div>
</nav>