a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
}

a:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 5px 15px rgba(255, 255, 255, 1);
}


a.logo {
    padding: 1em;
    font-weight: bold;
}

nav ul li {
    list-style: none;
    margin: 0;
    float: left;
    padding-right: 50px;
}

nav {
    text-align: center;
    height: 90px;
    background-color: #1976d2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
img{
    padding-left: 25px;
}
.color img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}

.color img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}