<div class="container-fluid home">
    <div class="card" style="padding: 30px;">
        <h1>Getting started with Angular</h1>
    <p>Welcome to Angular!</p>
    <p>This tutorial introduces you to the essentials
        of Angular by walking you through building an e-commerce site with a catalog,
        shopping cart, and check-out form.
    </p>
    <p>
        To help you get started right away, this tutorial uses a ready-made
        application that you can examine and modify interactively on StackBlitz
        —without having to set up a local work environment. StackBlitz is
        a browser-based development environment where you can create, save,
        and share projects using a variety of technologies.
    </p>
    <hr>
    <h1>Take a tour of the example application</h1>
    <p>You build Angular applications with components.
        Components define areas of responsibility
        in the UI that let you reuse sets of UI functionality.</p>
    <hr>
    <h1>Create the sample project</h1>
    <p>To create the sample project, generate the ready-made sample project in StackBlitz. To save your work:</p>
    <!-- <div class="card main">
        <div class="card" style="background-color:rgb(255, 255, 255) ;padding: 20px;">
            <img src="https://angular.io/generated/images/guide/start/fork-the-project.png" alt="#">
        </div>
    </div> -->
    <ul>
        <li>Log into StackBlitz.</li>
        <li>Fork the project you generated.</li>
        <li>Save periodically.</li>
    </ul>
    <p>In StackBlitz, the preview pane on the right shows the starting state of the example application.
        The preview features two areas:</p>
    <ul>
        <li>A top bar with the store name, My Store, and a checkout button.</li>
        <li>A header for a product list, Products</li>
    </ul>
    </div>
</div>